.mainContainer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .hero {
    max-width: 500px;
    
    h1 {
      font-size: 3.2rem;
      line-height: 4rem;
      font-weight: 900;
      color: var(--gray-800);
      
      span {
        color: var(--cyan-500);
      }
    }
    
    p {
      font-size: 1.1rem;
      line-height: 2rem;
      margin-top: 2rem;
      color: var(--gray-300);
    }
  }

  img {
    width: 650px;
  }
}